/* scrolldontzoom hover image */
/*-----------------------------------------------------------*/  
.base{
    position: absolute;
}

.text, th{
    margin: 0px;
    padding: 0px;
    position: absolute;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transform:translate(-30px, -20px);
    border: 1px solid black;
    opacity: 0.15; 
    background-color: white;
    transition: 15s ease;
    z-index: 1;
    border-collapse: collapse; 
    color: black;
    
    
    
}

.text:hover{
    opacity: 1;
    transition: 0.1s ease;
    color: red;
     
}