/* declares all headers1 to be red */
/* the main body of the site*/
    body{
        background: #f4f4f4;
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        line-height: 1em;
        margin: 25px;
    }

/* the headers of the site */
/*-----------------------------------------------------------*/
    h1{
        color:black;
    }
    h4{
        color:black;
        font-size: 12px/* the links of the site */
/*-----------------------------------------------------------*/
    }

/* the divider */
/*-----------------------------------------------------------*/

    hr{
        border-top: 1px dashed;

    }

/* the links of the site */
/*-----------------------------------------------------------*/
a{
    color: rgb(55, 52, 255);
}

/* the classes of the site */
/*-----------------------------------------------------------*/

    /* classs in main*/
    .content{
        color:white;
        font-size:24px;
    }

    .container{
        width: 100%;
        margin:auto;
    }

    .student_work_text{

        color:#000;
        font-size:16px;
        width: 100%;
        margin:auto;
        font-weight: normal;
        line-height: 1em;
        
    }
    /* classes of student projects */
    .red_links{
        color: red;
        font-weight: bold;
    }

    .red_links_lower{
        color: red;
        font-size: 16px;
        font-weight: bold;
    }

    .student_work_images{

        position: absolute;
        width: 100%;
        margin:auto;
        
    }


    .code_python{

        position: relative;
        width: 1024px;

    }
    .table_layout{

        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: normal;
        line-height: 1em;
        width : 60%;
        
    }
/* display images when you hover over work */
/*-----------------------------------------------------------*/        
    a img { display:none; }
    a:hover img { 
        width : 150px;
        display: inline-block; 
        position: absolute;
        z-index: -1;
        border: 1px solid rgb(55, 52, 255);
  
    }