
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;500&display=swap');
*{
    background-color: black;
}
:root{
    --imageresx: 250px;
    /* --headingfont:'Quicksand', sans-serif;
	--font: 'PT Sans', sans-serif; */
    --headingfont: 'JetBrains Mono', monospace;
    --font: 'JetBrains Mono', monospace;
}

.project_header{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family:var(--headingfont);
    font-weight: 500;
    max-width: 1000px;
    margin: auto;
    
    line-height: 0px;
     /* border: 5px rgb(0, 19, 128) solid; */
    padding: 15px;
    padding-top: 25px;
}


.project_area{
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: top;
    justify-content:left;
    padding: 15px;
    
   
    
    
    /* border: 5px green solid; */
}
.project_image_and_text{
    padding: 0px;
    /* border: 5px red solid; */
    
}


.project_text{
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0px;
    color: rgb(255, 255, 255);
    font-family: var(--font);
    width: var(--imageresx);
    font-size: 12px;
}
.overlay{
    font-size: 35px;margin: 0px;
    line-height: 0px;
    color: rgba(255, 0, 0, 0);
    font-family: var(--headingfont);
}
.overlay_image{
    position: absolute;
    opacity: 0;
}


.project_image_and_text:hover .overlay{
    text-align: left;
    position: relative;
    left: 110px;
    top: -145px;
	background-color: rgba(255, 255, 255, 0);
	color: #ffffff;	
    font-family: var(--headingfont);
}
.project_image_Uglystupidhonest{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("Ugly Stupid Honest/4.gif") no-repeat;
}
.project_image_Uglystupidhonest:hover{
    
    background: url("Ugly Stupid Honest/5.gif") no-repeat;
}

.project_image_Aerolis{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("Aerolis/3.gif")no-repeat ;
}
.project_image_Aerolis:hover{
    
    background: url("Aerolis/5b.gif")no-repeat ;
}

.project_image_Scrolldontzoom{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("scrolldontzoom/1.gif") no-repeat;
}
.project_image_Scrolldontzoom:hover{
    
    background: url("scrolldontzoom/1_colored.gif") no-repeat;
}

.project_image_Autonomousagencies{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("Autonomous Agencies/3.gif") no-repeat;
}
.project_image_Autonomousagencies:hover{
    
    background: url("Autonomous\ Agencies/3_colored.gif") no-repeat;
}

.project_image_Suigeneris{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("Sui\ Generis/1.gif") no-repeat;
}
.project_image_Suigeneris:hover{
    
    background: url("Sui\ Generis/1_coloredb.gif") no-repeat;
}


.project_image_skizoid{
    width: var(--imageresx);
    height: var(--imageresx);

    display: inline-block;
    
    background: url("Skizoid/1.gif") no-repeat;
}
.project_image_skizoid:hover{
    
    background: url("Skizoid/1_colored_d.gif") no-repeat;
}

.project_image_nano{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("Nano/1.gif") no-repeat;
}
.project_image_nano:hover{
    
    background: url("Nano/1_colored.gif") no-repeat;
}




.project_image_synesthesia{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("synesthesia/logo1.gif") no-repeat;
}
.project_image_synesthesia:hover{
    
    background: url("synesthesia/logo1_coloredb.gif") no-repeat;
}

.project_image_Hyperchunk{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("Hyper_chunk/1.gif") no-repeat;
}
.project_image_Hyperchunk:hover{
    
    background: url("Hyper_chunk/1_colored.gif") no-repeat;
}

.project_image_Dodenaus{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("Dodenaus/1.gif") no-repeat;
}
.project_image_Dodenaus:hover{
    
    background: url("Dodenaus/1_colored.gif") no-repeat;
}

.project_image_Obfuscation{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("obfuscation/1_stretch_diffusion.gif") no-repeat;
}
.project_image_Obfuscation:hover{
    
    background: url("obfuscation/1_stretched_colored.gif") no-repeat;
}


.project_image_Protozoa{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("Protozoa/1.gif") no-repeat;
}
.project_image_Protozoa:hover{
    
    background: url("Protozoa/1_colored_2.gif") no-repeat;
}

.project_image_Eas{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("EAS/1.gif") no-repeat;
}
.project_image_Eas:hover{
    
    background: url("EAS/1_coloredb.gif") no-repeat;
}

.project_image_HapticInterface{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("Haptic\ Interface/1003.gif") no-repeat;
}
.project_image_HapticInterface:hover{
    
    background: url("Haptic\ Interface/003.gif") no-repeat;
}

.project_image_t4t{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("T4T/1.gif") no-repeat;
}
.project_image_t4t:hover{
    
    background: url("T4T/1_colored.gif") no-repeat;
}

.project_image_misfits{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("Misfits\ Workshop/1.gif") no-repeat;
}
.project_image_misfits:hover{
    
    background: url("Misfits\ Workshop/1_colored.gif") no-repeat;
}


.project_image_copepod{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("copepod_1/1.gif") no-repeat;
}
.project_image_copepod:hover{
    
    background: url("copepod_1/1_colored.gif") no-repeat;
}

.project_image_Steen{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("Het\ Steen/1.gif") no-repeat;
}
.project_image_Steen:hover{
    
    background: url("Het\ Steen/1_colored.gif") no-repeat;
}

.project_copepod_three{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("copepod_3/1.gif") ;
}
.project_copepod_three:hover{
    
    background: url("copepod_3/1_colored2.gif") ;
}

.project_copepod_two{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("copepod_2/1.gif") ;
}
.project_copepod_two:hover{
    
    background: url("copepod_2/1_colored.gif") ;
}



.project_rc{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("Bartlett\ RC19/1.gif") ;
}
.project_rc:hover{
    
    background: url("Bartlett\ RC19/1_colored.gif") ;
}

.project_image{
    width: var(--imageresx);
    height: var(--imageresx);
    display: inline-block;
    
    background: url("Ugly Stupid Honest/2.gif") ;
}
.project_image:hover{
    
    background: url("Ugly Stupid Honest/5.gif") ;
}






.sub-header{
    color: rgba(255, 255, 255, 0.5);       
    float: right;
    z-index: 1;  
    right:0px;
    bottom:10px;
    font-style: italic; 
    position: fixed;
    opacity: 1;
    margin-right: 5%;
    font-size: 0.75em;
    background-color: rgba(0, 0, 0, 0);
    
    }
    .project_back_link a{
        position: fixed;
        margin: 0px;
        padding: 0px;
        left: 40px;
        top: 82px;
        font-size: 2em;
        color: white;
        font-family: var(--font);
        text-decoration: none;
        opacity: 1;
        font-weight: 400;
        
    }
    .project_back_link a:hover{
        
        background-image: url(../1.gif);
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-font-smoothing: antialiased;
        font-weight: 800;  
    }

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(70, 70, 70); 
    ;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }


  
@media all and  (max-width: 1300px) {
    .project_area{
        justify-content:left;
    }  
    .project_back_link a{
        
        opacity: 0;
    }
}