
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;500&display=swap');
:root{
    
	/* --headingfont:'Quicksand', sans-serif; */
    
    --headingfont: 'JetBrains Mono', monospace;
	/* --font: 'PT Sans', sans-serif; */
	--font:'JetBrains Mono', monospace;
}
#ascii_art {
	font-size: 3em;
	font-family: monospace;
	white-space: pre;	
	color: white;
	line-height: 0.9em;
}


.title{
	position: absolute;
	color: white;
	font-size: 2em;
	font-family: var(--font);

}
.sub-title{
	position: absolute;
	color: white;
	font-size: 1em;
	font-family: var(--font);
	font-weight: 800;
}
.sub-sub-title{
	position: absolute;
	color: white;
	font-size: 13px;
	font-family: var(--font);
}