
/*ascii-art*/
#ascii_art {
	font-size: 3em;
	font-family: monospace;
	white-space: pre;	
	color: white;
}
#ascii_art_text_balloon{
	font-family: monospace;
	white-space: pre;
	transform: scale(0.6);
	color: white;
}
